<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-view title=''>
     <ion-nav-bar class="nav-title-slide-ios7 bar-light">
        <ion-nav-buttons side='left'>
            <button class='button button-positive button-clear no-animation' ng-click="startApp()" ng-if="!slideIndex"> Skip Intro
            </button>
            <button class='button button-positive button-clear no-animation' ng-click="previous()" ng-if="slideIndex>0"> Previous Slide
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="slideIndex!==2">Next</button>
            <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="slideIndex==2">Go to the End</button>
        </ion-nav-buttons>  
    </ion-nav-bar>
    
    <ion-slide-box on-slide-changed="slideChanged(index)">

            <ion-slide>
                <h3>This is the first slide</h3>
                <p>really now</p>

            </ion-slide>

             <ion-slide>
                <h3>This is the second slide</h3>
            </ion-slide>

            <ion-slide>
                <h3>This is the third slide</h3>
            </ion-slide>
        
    </ion-slide-box>
</ion-view>